.hero {
    width: 100%;
    height: 100vh;
    padding-top: 9rem;
}

.container {
    max-width: 1240px;
    padding: 0 1rem;
    margin: auto;
}

.hero .content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.col-1 {
    padding: 1rem;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.col-1 h4 {
    color: #2e16e6;
    font-weight: bolder;
    letter-spacing: 1px;
    font-size: 15px;
    margin-bottom: 0.5rem;
}

.col-1 h1 {
    font-weight: 600;
    font-size: 48px;
    color: #141125;
    letter-spacing: -0.03em;
    margin-bottom: 20px;
    line-height: 60px;
    margin-top: 8px;
    padding-right: 15px;
}

.col-1 p {
    max-width: 85%;
    color: #5b5675;
    font-size: 17px;
    line-height: 32px;
    font-weight: 400;
    margin-bottom: 32px;
}

.cta {
    margin-bottom: 24px;
    display: flex;
    align-items: center;
    padding-bottom: -3px;
}

.btn {
    padding-top: 0;
    padding-bottom: 0;
    height: 48px;
    min-height: 48px;
    line-height: 46px;
    border-radius: 6px;
    font-size: 14px;
    padding-left: 28px;
    padding-right: 28px;
    font-weight: 600;
    color: #fff;
    background-color: #2e16e6;
    width: 40%;
}

.card {
    font-size: 17px;
    line-height: 1;
    color: #5b5675;
    font-weight: 400;
    margin-bottom: 0;
    margin-top: 25px;
    margin-left: 1rem;
}

.col-2 {
    padding: 1rem;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: .8rem;
}

.video {
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.05), 0 5px 30px 0 rgba(0, 0, 0, 0.22);
}

@media screen and (max-width: 1200px) {
    .col-1 {
        height: 80vh;
        padding: .2rem;
        max-width: 100%;
    }
}