.slide-text p {
    color: #110958;
    font-size: 24px;
    font-weight: 600;
    text-align: center;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin-bottom: 35px;
}

.slide {
    margin: 10px 0;
    position: relative;
    clear: both;
    height: 20px;
    display: flex;
}

.slide .left {
    left: 0;
}

.slide .right {
    right: 0;
}

.slider-area {
    padding-top: 10px;
}

.pricing-area {
    padding-top: 20px;
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.pricing-box {
    border-radius: 15px;
    box-shadow: 0 10px 15px -3px #e2dede, 0 4px 6px -2px #bdb9b9;
    border: 3px solid #525257;
    display: flex;
    background: #fff;
    width: 49%;
    margin-right: 30px;
}

.pro {
    border: 3px solid #2e16e6;
}

.enter {
    border: 3px solid #aaaaaa;
}

.pricing-box.pro .pb {
    border: none;
}

.pricing-top {
    text-align: center !important;
    padding: 25px 30px 20px;
}

.pricing-top h5 {
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 10px;
}

.upper {
    font-weight: 500;
    font-size: 29px;
}

.price-number {
    letter-spacing: -0.03em;
    font-weight: bolder;
    font-size: 32px;
}

.custom {
    letter-spacing: -0.03em;
    font-weight: bolder;
    font-size: 32px;
}

.mo-discount {
    font-weight: 300;
    font-size: 20px;
}

.price-btn {
    display: flex;
    align-items: center;
    height: 48px !important;
    width: 100%;
    height: 60px;
    margin-top: 15px;
    background: #2e16e6;
    padding-left: 132px;
    padding-right: 132px;
    min-height: 50px;
    cursor: pointer;
    color: #fff;
    box-shadow: 0 4px 6px rgb(50 50 93 / 11%), 0 1px 3px rgb(0 0 0 / 8%);
    font-weight: 600;
    font-size: 12px;
    border-radius: 10px;
}

.sale-btn {
    display: flex;
    align-items: center;
    height: 48px !important;
    width: 100%;
    height: 60px;
    margin-top: 15px;
    background: #F4F3FD;
    color: #1E109A;
    padding-left: 135px;
    padding-right: 135px;
    min-height: 50px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgb(50 50 93 / 11%), 0 1px 3px rgb(0 0 0 / 8%);
    font-weight: 600;
    font-size: 12px;
    border-radius: 10px;
}

.pricing-body {
    padding: 0 30px 30px;
    text-align: left;
    line-height: 40px;
}

.pricing-body ul li span {
    font-size: 13px;
    margin-left: 5px;
    margin-top: 3px;
}

.plus {
    font-weight: bolder;
    padding-left: -5px;
}