.price-box {
    padding-top: 6rem;
    width: 100%;
    height: 80vh;
    text-align: center;
}

.title {
    color: #2e16e6;
    text-transform: uppercase;
    font-weight: bolder;
    letter-spacing: 1px;
    font-size: 13px;
    padding-top: 1rem;
}

.text {
    color: #141125;
    font-size: 20px;
    text-align: center;
    padding-top: .5rem;
    margin-bottom: 20px;
    font-weight: bolder;
}

.price-box p {
    color: #4a5568;
    font-size: 19px;
    text-align: center;
    max-width: 850px;
    margin: 10px auto 40px;
}