.slider-box {
    margin-top: 1rem;
}

.swticher-btn {
    width: 274px;
    height: 60px;
    background: #fff;
    border-radius: 30px;
    margin: 0 auto 50px;
    display: flex;
    align-items: center;
    padding: 0 9px;
    justify-content: space-between;
    position: relative;
}

.swticher-btn button {
    height: 44px;
    font-weight: 600;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    width: 50%;
    border-radius: 28px;
    margin-left: 2px;
    margin-right: 2px;
    background: transparent;
    font-size: 16px;
    cursor: pointer;
}

.swticher-btn button:active {
    background: #2E16E6;
    color: #fff;
}

.swticher-btn .free {
    position: absolute;
    margin: 0;
    right: -150px;
    font-weight: bolder;
    display: inline-block;
    background: #E3E1F4;
    border-radius: 4px;
    color: #2e16e6;
    padding: 5px 10px;
    font-size: 14px;
}